@use "../../../../assets/sass/variables" as *;
:host {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;

    &::ng-deep{

        .mdc-notched-outline__leading, .mdc-notched-outline__notch, .mdc-notched-outline__trailing{
            border-width: 0 !important;
            border: none !important;
        }

        .mat-mdc-paginator-container{
            justify-content: right;
        } 

        .mat-mdc-paginator-range-label{
            font-weight: bold;
        }

        .mat-mdc-form-field{
            text-align: right;
            padding-right: 10px;
        }

        .mat-mdc-select-arrow-wrapper{
            padding: 0 5px;
        }

        .mat-mdc-paginator-page-size-select{
            width: 80px;
            height: 60px;
        }
        .mat-mdc-paginator-page-size-label, .mat-mdc-paginator-page-size-value{
            color: #959595;
        }
        .mat-mdc-paginator {
            .mat-mdc-select-value{
                text-align: left;
                width: auto;
            }
            .mat-mdc-icon-button{
                padding: 8px;
           }
        }
    }

    .pf-table-wrapper{
        &.--sticky{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 50px;
            overflow: auto;

            &.--paged{
                bottom: 85px;
            }
        }
        
    }
    .pf-table{
        thead{
            border-bottom: solid 1px $greyDDD;
        }
        tr,td{
            border-top: none;
            border-bottom: none;
            background-color: #f1f1f1;
        }
        
        &.--zebra{
            tr:nth-of-type(odd) {
                background-color: #e7e7e7;
                td{
                    background-color: #e7e7e7;
                }
              }
        }
        
    }
    .pf-paginator-wrapper{
        position: absolute;
        right: 0;
        left: auto;
        bottom:35px;
        top:auto;
        width: 100%;
        .mat-mdc-paginator{
            
            color: $blue;
            // background: $greyDDD;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            
            font-size: .9rem;
        }
    }
    
    
    
    .mat-mdc-input-element ._pf-table-filter-input .cdk-text-field-autofill-monitored{
        background-color: $inputBg;
        color: $inputColor;
    }

    

    &::ng-deep{
        .mat-mdc-header-cell{
            background-color: $white !important;
            color: $blue;
            // border-bottom: solid 2px $blue;
        }
        .mat-mdc-cell{
            .pf-cell-image{
                height: 25px;
                width: auto;
            }
        }

        tbody:hover{
            tr{
                // color:#999 !important;
                opacity: .6;
                &:hover{
                    opacity: 1;
                    background-color: #fff !important;
                    color: #000 !important;
                    box-shadow: 0 0 5px 0px rgba(0, 0, 0, .4);
                }
            }
        }
        tr:hover{
            // background-color: #fff !important;
            // color: #000 !important;
            // box-shadow: 0 0 5px 0px rgba(0, 0, 0, .9);
        }
    }
}