<!-- @if(filterable){
    <input class="_pf-table-filter-input" #filterCtrl matInput (keyup)="onFilter($event)" #input>
} -->

<div class="pf-table-wrapper" [ngClass]="{'--sticky': sticky, '--paged': pagination}">

  <table 
    #MatTable
    [ngClass]="{'--zebra':stripe}" 
    mat-table 
    [dataSource]="VM.tableDataSource" 
    matSort 
    class="mat-elevation-z8 pf-table"
  >
    @for (column of VM.columns; track column) {
      <ng-container [matColumnDef]="column.columnDef">  
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{column.header}}
        </th>
        <td mat-cell *matCellDef="let row">
          {{column.cell(row)}}
        </td> 
      </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="VM.displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: VM.displayedColumns;"></tr>
    
  </table>
</div>
@if(pagination){
  <mat-paginator [pageSize]="pagesize" aria-label="Page"></mat-paginator>
}