<div class="pf-table-wrapper" [ngClass]="{'--sticky': sticky, '--paged': pagination}">

  <table 
    #MatTable
    mat-table
    matSort 
    [ngClass]="{'--zebra':stripe}" 
    class="mat-elevation-z8 pf-table"
    [dataSource]="VM.tableDataSource" 
  >
    @for (column of VM.columns; track column) {
      <ng-container [matColumnDef]="column.columnDef" [sticky]="column.sticky">  
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{column.header}}
        </th>
        <td mat-cell *matCellDef="let row" [innerHTML]="column.cell(row) | trustHTML">
        </td> 
      </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="VM.displayedColumns; sticky: true"></tr>
    <tr class="pf-motion-fast" mat-row *matRowDef="let row; columns: VM.displayedColumns;"></tr>
    
  </table>
</div>
  <div class="pf-paginator-wrapper">
    <div class="pf-overlay-white" [ngClass]="{'pf-display-none': !loading}"></div>
    <mat-paginator 
      [pageSize]="pagesize" 
      [length]="VM.totalEntries"  
      [class]="pagerClass" aria-label="Page"
      (mouseenter)="onMouseEnter()" 
      (mouseleave)="onMouseLeave()" 
  ></mat-paginator>
  </div>
  
