@use "../../../assets/sass/variables" as *;
:host{
     display: flex;
     flex-direction: column;
     background: $bgColor;
     height: 100%;

     ._title{
          padding: .5rem 1rem;
          border-bottom: 2px solid;
          background: $white;
          text-transform: uppercase;

          .pf-icon{
               font-size: 2rem;
               font-weight: 700 !important;
               margin-right: 10px;
          }
     }

     .pf-alert.--error{
          ._title{
               color: $errorColor;
          }
          
     }
     .pf-alert.--warning{
          ._title{
               color: $warningColor;
          }
     }
     .pf-alert.--success{
          ._title{
               color: $successColor;
          }
     }
     .pf-alert.--info{
          ._title{
               color: $blue;
          }
     }

     ._body{
          padding: .5rem 1rem;
          overflow: auto;
          font-size: .9rem;
     }
     ._footer{
          padding: .5rem 1rem;
          display: flex;
          align-items: center;
          justify-content: flex-end;
     }

     .mat-dialog-actions{
          background: $white;
          border-top: 1px solid $blue;
     }

     button{ 
          padding: 6px 10px; 
          background: $blue; 
          border-radius: $borderRadius; 
          height: auto; 
          color: $white; 
          border: none; 
          font-size: .9rem;
          width: auto;
     }
}

// 