<main class="layout-wrapper">
  <div class="topbar">
      <div class="_section --logo">
        <a class="pf-inline-block pf-rel" href="https://www.powerfactors.com/">
          <img src="../assets/img/Power_Factor_logo.svg" alt="Power_Factor_dark" loading="eager">
          <span class="_sub">Assignment</span>
        </a>
        
      </div>
      <div class="_section pf-jc-center-flex">
        <pf-text
          class="_search"
          [clearable]="true"
          [placeholder]="'Search'"
          (onModelChange)="announceRequest($event)"
        >
          </pf-text>
      </div>    
      <div class="_section pf-jc-end-flex">

      </div> 
  </div>
  <div class="content">
    <router-outlet />
  </div>
</main>