@use "assets/sass/index" as *;
@import './assets/sass/_normalize';
@import './assets/sass/_layout';
@import './assets/sass/overrides';


*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight500;
  color: #525c65;
}
a{display: block; text-decoration: none;}
img{width:100%}
h1,h2,h3,h4,h5,h6{
  color: $blue;
  font-weight: 500;
}
.cdk-overlay-connected-position-bounding-box{
  position: absolute;

  .cdk-overlay-pane{
    position: absolute;
    background-color: #fff;
    box-shadow: $shadowGentle;
  }
}
.pf-table-filter-input{
  height: 30px !important;
  border-radius: $borderRadiusInput !important;
  border: none !important;
  text-align: center !important;
  font-weight: 300 !important;
  background-color: $inputBg !important;
  color: $inputColor !important;
}