@use "assets/sass/index" as *;
@import './assets/sass/_normalize';
@import './assets/sass/_layout';
@import './assets/sass/overrides';



*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight500;
  color: #525c65;
}
a{display: block; text-decoration: none;}
img{width:100%}
h1,h2,h3,h4,h5,h6{
  color: $blue;
  font-weight: 500;
}
button{
  color: inherit;
  background: none;
  outline: none;
  border: none;
}
.cdk-overlay-connected-position-bounding-box{
  position: absolute;

  .cdk-overlay-pane{
    position: absolute;
    background-color: #fff;
    box-shadow: $shadowGentle;
  }
}
.pf-table-filter-input{
  height: 30px !important;
  border-radius: $borderRadiusInput !important;
  border: none !important;
  text-align: center !important;
  font-weight: 300 !important;
  background-color: $inputBg !important;
  color: $inputColor !important;
}
._descr{
  font-weight: 300;
  font-size: 1.4rem;
  color: #a7a7a7;
  padding-left: 4px;
}
.pf-root-color{
  color: $inputColor
}
.pf-dialog-backdrop{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cdk-global-overlay-wrapper{
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cdk-global-overlay-wrapper{
  justify-items: flex-end;
  align-items: flex-start;
}


@import './assets/sass/queries';