.pf-table-filter-input{
    height: 30px;
    border-radius: $borderRadiusInput;
    border: none;
    text-align: center;
    font-weight: 300;
    background-color: $inputBg;
    color: $inputColor;
}