@use 'variables';
@use 'helpers';

.layout-wrapper{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #c5c5c5;
  
  
    .topbar{
      position: fixed;
      left:0;
      right: 0;
      top: 0;
      color: variables.$white;
      height: variables.$topbarHeight;
      display: flex;
      align-items: center;
      padding:0 2rem;
      background-color: variables.$greyDDD;
      border-bottom: variables.$borderWhite;
      border-top: variables.$borderWhite;
      
      ._section{
        width: 33vw;
        height: inherit;
        // padding:0 2rem;
        display: flex;
        align-items: center;

        ._search{
          max-width: 360px;
          color: variables.$inputColor;
        }
  
        &.--logo{
          text-transform: uppercase;
          font-weight: variables.$fontWeight500;
          line-height: 80%;
          ._sub{
            font-size: .6rem;
            color: variables.$blue;
            position: absolute;
            right: 0;
            bottom: 0;
            left: auto;
            top: auto;
          }
          // border-bottom: solid;
          // border-top: solid;
          // box-shadow: $shadowGentle;
        }
      }
    }
  
    .content{
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 1.5rem 2rem 0 2rem;
      top: variables.$topbarHeight;

      .--docked{
        @include helpers.pf-coloumn-flex-mixin;
        @include helpers.pf-motion-slow-mixin;
      }
    }
  }

  
  