@media only screen and (max-width: 319px){
     
}
@media only screen and (max-width: 374px){
     ._header{
          font-size: 90%;
     }
}
@media only screen and (max-width: 424px){
     .layout-wrapper {
          .topbar{
          }
          .content{
               padding: .8rem .8rem 0 .8rem !important;
          }
     }
     .widget{
          padding: 0.9rem !important;
     }
     .mat-mdc-table * {
          font-size: 95% !important;
          .mdc-data-table__cell{
               padding: 0 6px 0 6px!important;
               max-width: 30vw;
               .pf-cell-image-prepended{
                    margin-right: 2px!important;
               }
               .pf-cell-image{
                    margin-right: 4px !important;
                    margin-left: 0;
               }
          }
      } 
     .--dock{
          ._descr{font-size: .9rem;}
          .pf-header-stacked-chart{display: none;}
     }
}
@media only screen and (max-width: 460px){
     .mat-mdc-table * {
          font-size: 97% !important;
          .mdc-data-table__cell{
               padding: 0 6px 0 6px;
               max-width: 30vw;
               .pf-cell-image{
                    margin-right: 4px !important;
                    margin-left: 0;
               }
          }
      } 
     .--dock{
          ._descr{display: none;}
     }
}

@media only screen and (max-width: 594px){
     .topbar{
          ._section{
               width: 50vw !important;
          }
     }
     .widget{
          padding: 0.9rem;
     }
     .--coins{
          ._header{
               h2{max-width: unset !important;}
               pf-text{
                    .mat-mdc-form-field{
                         @include pf-motion-mixin;
                         width: 31px;
                         &.mat-focused{width: 100%;}
                    }
                    
                    .mdc-text-field{
                         border-radius: 13px;
                         .pf-icon{
                              margin-left: 3px !important;
                         }
                    }
               } 
               .--title{
                    margin-right: 10px;
               }
               .--filters{
                    overflow: hidden;
                    ._filter-coloumns{width: 22vw !important;}
                    ._filter-order{width: 22vw !important;}
                }
          }

          .mat-mdc-paginator{
               .mat-mdc-paginator-page-size{
                    display: none;
               }
          }
     }
     .--dock{
          ._descr{font-size: .9rem;}
     }
     .mat-mdc-option{
          padding:7px !important;
          .mdc-list-item__primary-text{
               font-size: 95% !important;
          }
          .mat-pseudo-checkbox-full{
               margin-right: 5px !important;
          }          
     }
}
@media only screen and (max-width: 700px){
     .layout-wrapper {
          .topbar{
               padding-left: 1rem;
               padding-right: 1rem;
          }
          .content{
               padding: 1rem 1rem 0 1rem;
          }
     }
     .widget{
          padding: .8rem;

          ._header{
               padding-left: .5rem !important;
               padding-right: .5rem !important;
          }
     }
     .--coins{
          margin-bottom: 1rem !important;
          ._header{
               .--title{
                    // width: 100%;
               }
          }
          .--filters{
               ._filter-coloumns{width: 17vw !important;}
               ._filter-order{width: 17vw !important;}
           }
           .mat-mdc-table * {
               font-size: 97% !important;
               .mdc-data-table__cell, .mdc-data-table__header-cell{
                    padding: 0 12px 0 12px;
               }
           }
     }

     .mat-mdc-option{
          padding: 10px !important;
          .mdc-list-item__primary-text{
               font-size: 95% !important;
          }
          .mat-pseudo-checkbox-full{
               margin-right: 5px !important;
          }          
     }
     
}
@media only screen and (max-width: 767px){
     .layout-wrapper{
          .topbar{
               .--logo{
                    ._sub{
                         font-size: 0.7rem !important;
                         bottom: -5px !important;
                    }
               }
          }  
          .content{
               padding: 1rem 1.2rem 0 1.2rem;
          }
     }
     
     .--min{
          .--dock{
               ._descr{display: none;}
          }
     }
     .--coins{
          // .mat-column-name{
          //      box-shadow: 0 1px 0 0 rgba(0,0,0,.5);
          // } 
     }
     .mat-mdc-paginator-range-actions{
          .mat-mdc-icon-button{
               padding: 0 !important;
          }
     }
}
@media only screen and (max-width: 1023px){
}
