@media only screen and (min-width: 320px) {

          html,body{
               font-size: .4rem;
               line-height: 1.1;
          }
          h2{font-size: 4.5rem;}
          .mdc-data-table__cell, .mdc-data-table__header-cell{
               padding:0 6px 0 10px !important;
          }
          .layout-wrapper{
               .topbar{
                    ._section{
                         width: 43vw;
                         &.--logo{
                              ._sub{
                                   font-size: 2rem;
                              }
                         }
                    }   
               }
          } 
          .widget{
               ._header{
                    h2{
                         .pf-icon{
                              font-size: 33px;
                         }
                    }
               }
          }   
          .mat-mdc-row, .mdc-data-table__content{
               font-size: 12px;
          }
          .pf-paginator-wrapper{
               bottom: 45px;
               height: 41px;
          }
          .mat-mdc-paginator-page-size{display: none !important;}
          .mat-mdc-paginator-range-actions{
               font-size: 2.5rem;
               .mat-mdc-icon-button {
                    height: 38px;
                    font-size: 3rem;
                    padding: 0.2rem;
                    .mat-mdc-button-touch-target{
                         height: 38px;
                    }
               }
          }
     
     }
     
     @media
     only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
     only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
     only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
     only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
     only screen and (                min-resolution: 192dpi) and (min-width: 320px),
     only screen and (                min-resolution: 2dppx)  and (min-width: 320px) { 
     
          html,body{
               font-size: .4rem;
               line-height: 1.1;
          }
          h2{font-size: 4.5rem;}
          
          
          .layout-wrapper{
               .topbar{
                    ._section{
                         width: 43vw;
                         &.--logo{
                              ._sub{
                                   font-size: 2rem;
                              }
                         }
                    }   
               }
          } 
          .widget{
               ._header{
                    h2{
                         .pf-icon{
                              font-size: 33px;
                         }
                    }
               }
          }  
          .mat-mdc-row, .mdc-data-table__content{
               font-size: 13px !important;
          }

          .mdc-data-table__cell, .mdc-data-table__header-cell{
               padding:0 6px 0 10px !important;
              
          }
          .mat-mdc-cell{
               .pf-cell-image-wrapper{
                    .pf-cell-image{
                         width: 22px;
                         margin-right: 5px !important;
                    }
               } 
               
          } 
          
          

          .pf-paginator-wrapper{
               bottom: 45px;
               height: 41px;
          }
          .mat-mdc-paginator-page-size{display: none !important;}

          .mat-mdc-paginator-range-actions{
               font-size: 2.5rem;
               .mat-mdc-icon-button {
                    height: 38px;
                    font-size: 3rem;
                    .mat-mdc-button-touch-target{
                         height: 38px;
                    }
               }
          }
     
     }
     
     @media only screen and (min-width: 700px) {
     
          
     }
     
     @media
     only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 700px),
     only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 700px),
     only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 700px),
     only screen and (        min-device-pixel-ratio: 2)      and (min-width: 700px),
     only screen and (                min-resolution: 192dpi) and (min-width: 700px),
     only screen and (                min-resolution: 2dppx)  and (min-width: 700px) { 
     
          // html,body{
          //      font-size: .4rem;
          //      line-height: 1.1;
          // }
     
     }
     
     @media only screen and (min-width: 1300px) {
     
     /* Large screen, non-retina */
     
     }
     
     @media
     only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),
     only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
     only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
     only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
     only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
     only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) { 
     
     /* Large screen, retina, stuff to override above media query */
     
     }