$fontFamily: 'Roboto', 'Helvetica Neue', sans-serif;
$fontSize: 1rem ;
$fontWeightLight: 300;
$fontWeightNormal: 500;
$textColor: #525c65 ;
$bgColor: #e7e7e7 ;
$greyDDD: #ddd;
$borderRadius: 5px ;
$disabledOpacity: 0.6 ;
$white: #fff ;
$blue: #4285f4 ;
$green: #009b5a ;
$maskBg: rgba(0, 0, 0, 0.4) ;
$errorColor: #f44336 ;
$topbarHeight: 70px;